<?xml version="1.0" encoding="UTF-8" ?>
<!--XML문서 버전과 인코딩 선언-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--ㅡMybatis 매퍼 DTD(Document Type Definition)지정-->
<mapper namespace="spring.spring_boot_mybatis.mapper.BoardMapper">

    <select id="findAll" resultType="spring.spring_boot_mybatis.domain.Board">
        SELECT * FROM board
    </select>

    <select id="findByWriter" parameterType="String" resultType="spring.spring_boot_mybatis.domain.Board">
        SELECT * FROM board WHERE writer = #{writer}
    </select>

    <insert id="insert" parameterType="spring.spring_boot_mybatis.domain.Board"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board(title, content, writer) values(#{title}, #{content}, #{writer})
    </insert>

    <delete id="delete" parameterType="spring.spring_boot_mybatis.domain.Board">
        DELETE FROM board WHERE id= #{id}
    </delete>

    <update id="update" parameterType="spring.spring_boot_mybatis.domain.Board">
        UPDATE board SET title=#{title},content=#{content}
    </update>

</mapper>